.faq {
    background-color: white;
    padding-bottom: 120px;

    h2 {
        color: #025157;
    font-family: "Alegreya", serif;
    margin-bottom: 60px;
    }
    .card-header {
        background-color: white;
        border-left: 1px solid rgba(0, 0, 0, 0.125);

        h2 > button {
            color: #025157;
            font-size: 28px;
        }
    }
    .card {
        .card-body {
            a {
                color: #6abf4b;
            }            
        }
    } 
}
  