body {
    margin: 0;
    padding: 0;
    background-color: aquamarine;
}

.tablas {
    display: grid;
    grid-template: repeat(2,1fr)/repeat(2,1fr);
    height: 800px;

}

.articulo {
    padding: 15px;

}

.articulo-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around ;
}



@media (max-width:425px) {
    .tablas {
        grid-template: repeat(4, 1fr) / 1fr;
    }
}