body { 
    background-color: #fffbf7;
    margin:0px
}
h1 { 
    color: #025157; 
    font-family: 'Alegreya', serif;
    font-weight: 900;
    font-size: 60px;
    }

h4 { color: #46484c}
p { color:  #8b8b8bcc}
button { color: #fff}
button {background-color: #025157;}
.header { 
   /* margin-top: 40px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 0px;*/
    margin: 40px 20px 0;
    font-size: 0px;
}
.header li { 
    display:inline;
    margin: 0 20px; 
}
.main { margin: 25px 0;}

.header > * {
    display: inline-block;
    font-size: 16px;
    vertical-align: middle;
    height: 100%;
    line-height: 40px;
}
.logo { 
    width: 20%;
}
.logo > img { 
    height: 100%;
}
.navbar { 
    width: 60%;
    text-align: center;
    color: #025157;
    font-weight: 600;
}
.actions{
    width: 20%;
    text-align: right;
    font-size: 14px;
    font-weight: 600;
}
.main {
    margin: 285px 0px 20px;
    text-align: center;

}
.main .segundaimagen {
    text-align: center;
    width: 70%;

}
.yourBlog {color:#46484c}

.publish {
    flex: 1;
}

.publish h3 {
    color: #025157; 
    font-family: 'Alegreya', serif;
    font-size: 40px;
    line-height: 48px;
}

.publish > p {
    font-size: 16px;
    color: #343434;
    line-height: 1.5;
    margin-bottom: 20px;
}

.publish .publish-text{
    display: flex;
}

.publish .publish-text > p {
    color: #025157;
    margin-right: 18px;

}

.promo {
    display: flex;
    flex-direction: row;
    width: 70%;
    margin: 100px auto;
    align-items: center;
}

.promo .explanatory-video {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
}

.promo .explanatory-video image{
    width: 120px;
    margin-top: 10px;
}

.fixed-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #fffbf7;
}