body { 
    background-color: #fffbf7;
    margin:0px
}
h1 { 
    color: #025157; 
    font-family: 'Alegreya', serif;
    font-weight: 900;
    font-size: 60px;
    }

h4 { color: #46484c}

p { color:  #8b8b8bcc}

button { color: #fff}

button {background-color: #025157;}

.header { 
   /* margin-top: 40px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 0px;*/
    margin: 40px 20px 0;
    font-size: 0px;
}
.header li { 
    display:inline;
    margin: 0 20px; 
}
.main { margin: 25px 0;}

.header > * {
    display: inline-block;
    font-size: 16px;
    vertical-align: middle;
    height: 100%;
    line-height: 40px;
}
.logo { 
    width: 20%;
}
.logo > img { 
    height: 100%;
}
.navbar { 
    /* width: 100%; en bootstrap ya lo tiene predeterminado el 100%*/
    text-align: center;
    color: #025157;
    font-weight: 600;
    background-color: #fffbf7;
}
.actions{
    width: 20%;
    text-align: right;
    font-size: 14px;
    font-weight: 600;
}

.actions > a {
    margin-right: 20px;
}

.actions button {
    width: 65%;
}

.main {
    margin: 285px 0px 20px;
    text-align: center;

}
.main .segundaimagen {
    text-align: center;
    width: 70%;

}
.yourBlog {color:#46484c}

.publish {
    flex: 1;
}

.publish h3 {
    color: #025157; 
    font-family: 'Alegreya', serif;
    font-size: 40px;
    line-height: 48px;
}

.publish > p {
    font-size: 16px;
    color: #343434;
    line-height: 1.5;
    margin-bottom: 20px;
}

.publish .publish-text{
    display: flex;
}

.publish .publish-text > p {
    color: #025157;
    margin-right: 18px;

}

.promo {
    display: flex;
    flex-direction: row;
    width: 70%;
    margin: 100px auto;
    align-items: center;
}

.promo .explanatory-video {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
}

.promo .explanatory-video img {
    width: 120px;
    margin-top: 10px;
}

.fixed-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #fffbf7;
}

.features{
    display: grid;
    /* grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,1fr); */
    /* grid: 100px auto 300px / repeat(2, 1fr) 100px;
} */
    grid-template: repeat(2,1fr)/repeat(2,1fr);
    height: 660px;
    background-color: #025157;
    padding: 5% 10%
    
}

.features .feature-card {
    background-color: #ffffff;
    margin: 0px 15px 30px;
    border: 1px solid #dadada;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    overflow: hidden;
}

.features .feature-card .feature-content {
    padding: 30px 20px 40px 40px;
    flex: 2;
}

.features .feature-card .feature-content > * {
    margin-bottom: 1rem;
    margin-top: 0;
}

.features .feature-card .feature-content img {
    width: 50px;
}

.features .feature-card .feature-content figure {
    margin-left: 0;
}

.features .feature-card .feature-content h3 {
    font-size: 24px;
    color: #343334;
    font-weight: 400;
}

.features .feature-card .feature-content p {
    font-size: 1rem;
    color: #7e7e7e;
    font-weight: 600;
    text-decoration: none;
}

.features .feature-card .feature-content a {
    font-size: 1rem;
    color: #67b54b;
    font-weight: 600;
    text-decoration: none;
}


.features .feature-card .feature-image {
    flex: 1;
    position: relative;
    width: 40%;
    right: -50px;
    height: 80%;
    transition: 1s;
}

.features .feature-card .feature-image:hover {
    right:0px;
}

.features .feature-card .feature-image figure ,
.features .feature-card .feature-image img {
    margin-top: 0;
    height: 100%;
}

.navbar-light .nav-item .nav-link {
    color: #025157;
  }
  .navbar-light .navbar-toggler {
    border-color: #025157;
  }
  .navbar-light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgb(3, 81, 77)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
  }

@media (max-width: 425px) {
    
    .main{
        margin-top: 130px;
    }

    .main h1{
        font-size: 30px;
    }

    .banner > img {
        width: 100%;
    }

    .promo {
        flex-direction: column;
        width: 90%;
    }

    .explanatory-video > video {
        width: 100%;
    }

    .publish h3 {
        font-size: 25px;
        line-height: 1.5;
    }

    .publish .publish-text {
        flex-direction: column;
    }

    .publish .publish-text form {
        height: 50px;
        margin-top: 10px;
    }

    .publish .publish-text form > input,
    .publish .publish-text form > input {
        width: 50%;
    }

    .features {
        grid-template: repeat(4,1fr) / 1fr;
        padding-left: 0;
        padding-right: 0;
    }

    .feature-image {
        display: none;
    }

    .main .segundaimagen {
        display: none;
    }


}

@media (min-width: 426px) and (max-width:768px){
    .promo {
        flex-direction: column;
    }

    .explanatory-video > video {
        width: 100%;
    }

}

.card-container {
    background-color: #a1d683;
    padding: 35px;
  }
  .comments h1 {
    color: #025157;
    font-weight: bold;
    text-align: left;
    font-family: "Alegreya", serif;
    font-weight: 700;
    font-size: 51px;
    line-height: 61px;
    letter-spacing: -2px;
    color: #025157;
  }
  .comments img {
    width: 450px;
    margin-top: 40px;
    padding-right: 10px;
  }
  .comments .btn-beefy {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    padding-top: 12px;
    text-align: center;
    color: #fff;
    background: #025157;
    border-radius: 8px;
    height: 45px;
    width: 166px;
    transition: all .2s ease-in-out;
  }
  .comments .btn-beefy:hover {
    background-color: #67b54b;
    color: #fff;
  }
  .card-container .stories-carousel .carousel-indicators {
    position: absolute; /** ó: position: static; */
    right: 0;
    bottom: -40px;
    left: 0;
    z-index: 15;
    display: flex;
    justify-content: center;
    padding-left: 0;
    margin-right: 15%;
    margin-left: 15%;
    list-style: none;
  }
  .card-container .stories-carousel .card {
    max-width: 370px;
    width: 100%;
    background-color: #fff;
    border-radius: 10px;
    margin: 0 auto;
  }
  .card-container .stories-carousel .card .card-media {
    position: relative;
  }
  .card-container .stories-carousel .card .card-media .company img {
    max-width: 75%;
  }
  .card-container .stories-carousel .card .card-media .company {
    position: absolute;
    bottom: -20px;
    right: 20px;
    width: 100px;
    height: 100px;
    background-color: #f9da73;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .card-container .stories-carousel .card .card-media img {
    width: 100%;
    max-height: 18vw;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  .card-container .stories-carousel .card .card-body h4 {
    color: #025157;
    font-size: 18px;
    font-weight: 600;
    line-height: 20px;
    margin-bottom: 12px;
  }
  .card-container .stories-carousel .card .card-body h3 {
    font-size: 25px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 20px;
  }
  .card-container .stories-carousel .card .card-body .results {
    display: flex;
    align-items: center;
    color: #828282;
  }
  .card-container .stories-carousel .card .card-body .results img {
    width: 26px;
    margin-right: 20px;
  }
  .success-stories .stories-carousel .card .card-body .results p {
    margin-top: 0;
  }
  .card-container .stories-carousel .card .card-footer {
    margin-bottom: 20px;
    background-color: unset;
    border-top: unset;
  }
  .card-container .stories-carousel .card .card-footer button {
    display: block;
    margin-left: 0;
    border-radius: 5px;
    font-size: 13;
    font-weight: 600;
    padding: 12px 20px;
    width: 100%;
  }
